*,
html,
body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}

.column {
  width: 25px;
  height: 25px;
  background-color: white;
}

.null {
  background-color: grey;
}

td input {
  border-collapse: separate;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

td {
  position: relative;
}

sup {
  font-size: 10px;
  top: 2px;
  left: 3px;
  position: absolute;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

table {
  display: flex;
  justify-content: center;
  /* background-color: rgb(121, 155, 147); */
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(121, 155, 147);
  margin: 25px 25px;
}

.score {
  text-align: center;
}
.content {
  width: 100%;
  height: auto;
  border-radius: 5%;
  padding: 1px;
  background-color: moccasin;
}

.clue {
  width: 50vh;
  margin-top: 5%;
}

.clue h2 {
  text-align: center;

  letter-spacing: 4vh;
  white-space: nowrap;
}

h5 {
  font-size: 15px;
}
h5,
li {
  margin: 5px;
}

/* @media screen (and) {
} */
